<div class="row">
    <div class="col-lg-12">
        <div class="post"  ng-repeat="post in posts" >
                <!-- blog entry -->
            <h1><a href="#/posts/{{post.id}}">{{post.title}}</a></h1>
   
            <p>{{post.text | cut:true:50:' ...'}}</p>
            <a class="btn btn-primary" href="#/posts/{{post.id}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

            <hr>
        </div>
    
     

    </div>


</div>
        
<div ng-include src="'partials/footer.html'"></div>